apiVersion: apps/v1
kind: Deployment
metadata:
  name: leave-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: leave
  template:
    metadata:
      labels:
        app: leave
    spec:
      containers:
      - name: leave
        image: pratik6958/leave-service:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: leave-service
spec:
  type: ClusterIP
  selector:
    app: leave
  ports:
  - port: 8080
