name: Build and Push

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - run: |
    
        docker build -t pratik6958/leave-service ./leave-service
        docker build -t pratik6958/leave-service ./frontend
        docker push pratik6958/frontend-service 
        docker push pratik6958/leave-service
        echo "started build 2nd notification service"

        docker build -t pratik6958/notification-service ./notification-service
        docker push pratik6958/notification-service
        echo "started build 3rd workflow-service"
        docker build -t pratik6958/workflow-service ./workflow-service
        docker push pratik6958/workflow-service
