name: Build and Push

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - run: |
        docker build -t pratik6958/leave-service ./leave-service
        docker push pratik6958/leave-service
        docker build -f Dockerfile.approval-service -t pratik6958/approval-service ./leave-service
        docker push pratik6958/approval-service
